@import "../scss/base.scss";

$icon-width-and-height: 45px;

#top-icon-wrapper {
  position: absolute;
  top: 41px;
  left: 0px;
  width: $icon-width-and-height;
  height: $icon-width-and-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 1000px;
  transform: translate(-50%, -50%);

  #top-icon {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.add-top-icon-margin {
  margin-left: calc(#{$icon-width-and-height} / 2);
}

.bottom-icon-wrapper {
  @extend .shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  $width-and-height: 37px;
  width: $width-and-height;
  height: $width-and-height;
  border-radius: 500px;
  border-width: 1px;
  border-style: solid;

  .icon-outline {
    $max-width-and-height: 20px;
    max-width: $max-width-and-height;
    max-height: $max-width-and-height;
  }
}

@include media-breakpoint-down(md) {
  #top-icon-wrapper {
    top: 0px;
    left: 41px;
  }
  .add-top-icon-margin {
    margin-left: 0;
    margin-top: calc(#{$icon-width-and-height} / 2);
  }
}
