@import "../scss/base.scss";

$top-icon-width-and-height: 45px;
$left-image-width-and-height: 130px;

#top-icon-wrapper {
  position: absolute;
  top: 41px;
  left: 0px;
  width: $top-icon-width-and-height;
  height: $top-icon-width-and-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  border-radius: 1000px;
  transform: translate(-50%, -50%);

  #top-icon {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

#left-image-wrapper {
  @extend .shadow;
  position: absolute;
  top: 50%;
  left: 0px;
  width: $left-image-width-and-height;
  height: $left-image-width-and-height;
  overflow: hidden;
  border-radius: 1000px;
  background-color: white;
  transform: translate(-50%, -50%);

  #left-image {
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
div.card-body-left-image-padding {
  padding-left: calc(#{$left-image-width-and-height} / 2 + 20px);
}

div.add-top-icon-margin {
  margin-left: calc(#{$top-icon-width-and-height} / 2);
}
div.add-left-image-margin {
  margin-left: calc(#{$left-image-width-and-height} / 2);
}

@include media-breakpoint-down(md) {
  #top-icon-wrapper {
    top: 0px;
    left: 41px;
  }
  div.add-top-icon-margin {
    margin-left: 0;
    margin-top: calc(#{$top-icon-width-and-height} / 2);
  }

  #left-image-wrapper {
    top: 0px;
    left: calc(#{$left-image-width-and-height} / 2 + 10px);
  }
  div.add-left-image-margin {
    margin-left: 0;
    margin-top: calc(#{$left-image-width-and-height} / 2);
  }
  div.card-body-left-image-padding {
    padding-left: var(--bs-card-spacer-x);
    padding-top: calc(#{$left-image-width-and-height} / 2 + 20px);
  }
}
