@import "../scss/base.scss";

#all-slides {
  max-width: 100%;
  transition: transform 700ms ease-in-out;
}

.slide {
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  column-gap: $cards-gap;
  width: 100%;
  padding: 20px;
}

.navigation-button {
  padding: 6px 10px;
  border-style: none;
  background-color: transparent;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.carousel-indicator {
  height: 2px;
  width: 25px;
  border-style: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@include media-breakpoint-up(md) {
  .slide {
    grid-template-columns: 1fr 1fr;
  }
}
@include media-breakpoint-up(lg) {
  .slide {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
