@import "../scss/base.scss";

#cards-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: $cards-gap;
  column-gap: $cards-gap;
}

@include media-breakpoint-down(lg) {
  #cards-wrapper {
    margin: 0 30px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}
