// Colors
$primary: #0088f1;
$secondary: #ff8900;

// Font
$font-family-sans-serif: "DIN2014";

// Card
$card-border-color: transparent;
$card-spacer-x: 40px;
$card-spacer-y: 30px;

// Button
$btn-border-radius: 0;
$btn-font-family: "DIN2014";
$btn-font-weight: 700;
$btn-padding-y: 15px;
$btn-padding-x: 30px;
$btn-color: white;

// Offcanvas
$offcanvas-horizontal-width: 250px;
