// Colors
$primary: #0088f1;
$secondary: #ff8900;
// $tertiary: #48cc13;
// $quaternary: #f07f7f;

// Font
$font-family-sans-serif: "DIN2014";

// Button
$btn-border-radius: 0;
$btn-font-family: "DIN2014";
$btn-font-weight: 700;
$btn-padding-y: 15px;
$btn-padding-x: 30px;
$btn-color: white;

// Card
$card-border-color: transparent;
$card-spacer-x: 40px;
$card-spacer-y: 30px;

// Dropdown
$dropdown-min-width: 0;

// Offcanvas
$offcanvas-horizontal-width: 250px;

// Layout
$cards-gap: 30px;
$navbar-height: 70px;

// Mixins
@mixin image-fill-parent-keep-aspect {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: contain;
}
